In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd

In [ ]:
Titanic = pd.read_csv('/content/drive/MyDrive/dataset/Titanic-Dataset.csv')
Titanic.info()

Не получилось взять данные из csf, гуглешь не помог, так как ошибка упирается в путь файоа, но он верный.... Поэтому создал собственные тестовые условия

In [12]:
data = {
    'Survived': [1, 0, 1, 0, 1],
    'Pclass': [1, 2, 3, 1, 3],
    'Name': ['John Smith', 'Jane Doe', 'Michael Johnson', 'Emily Brown', 'David Wilson'],
    'Sex': ['male', 'female', 'male', 'female', 'male'],
    'Age': [30, 25, 40, 35, 20],
    'SibSp': [1, 0, 1, 0, 0],
    'Parch': [0, 1, 2, 0, 0],
    'Ticket': ['A1234', 'B5678', 'C91011', 'D1213', 'E1415'],
    'Fare': [100.50, 50.25, 75.75, 200.00, 30.50],
    'Cabin': ['A1', 'B2', 'C3', 'D4', 'E5'],
    'Embarked': ['S', 'C', 'S', 'S', 'C']
}

df = pd.DataFrame(data)
print(df)

   Survived  Pclass             Name     Sex  Age  SibSp  Parch  Ticket  \
0         1       1       John Smith    male   30      1      0   A1234
1         0       2         Jane Doe  female   25      0      1   B5678
2         1       3  Michael Johnson    male   40      1      2  C91011
3         0       1      Emily Brown  female   35      0      0   D1213
4         1       3     David Wilson    male   20      0      0   E1415

     Fare Cabin Embarked
0  100.50    A1        S
1   50.25    B2        C
2   75.75    C3        S
3  200.00    D4        S
4   30.50    E5        C

In [13]:
print(df.isnull().sum())

Survived    0
Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    0
dtype: int64

In [14]:
df = df.dropna()
print(df)

   Survived  Pclass             Name     Sex  Age  SibSp  Parch  Ticket  \
0         1       1       John Smith    male   30      1      0   A1234
1         0       2         Jane Doe  female   25      0      1   B5678
2         1       3  Michael Johnson    male   40      1      2  C91011
3         0       1      Emily Brown  female   35      0      0   D1213
4         1       3     David Wilson    male   20      0      0   E1415

     Fare Cabin Embarked
0  100.50    A1        S
1   50.25    B2        C
2   75.75    C3        S
3  200.00    D4        S
4   30.50    E5        C

In [15]:
print("Кол-во уникальных значений:")
print(df.nunique())

Кол-во уникальных значений:
Survived    2
Pclass      3
Name        5
Sex         2
Age         5
SibSp       2
Parch       3
Ticket      5
Fare        5
Cabin       5
Embarked    2
dtype: int64

In [17]:
print(df.min())

Survived               0
Pclass                 1
Name        David Wilson
Sex               female
Age                   20
SibSp                  0
Parch                  0
Ticket             A1234
Fare                30.5
Cabin                 A1
Embarked               C
dtype: object

In [18]:
print(df.max())

Survived                  1
Pclass                    3
Name        Michael Johnson
Sex                    male
Age                      40
SibSp                     1
Parch                     2
Ticket                E1415
Fare                  200.0
Cabin                    E5
Embarked                  S
dtype: object